<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">노리터 수정하기</h1>
    <div class="col-6 offset-3">
        <form action="/noritur/<%=noritur._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form label" for="title">제목</label>
                <input class="form-control" type="text" id="title" name="noritur[title]" value="<%=noritur.title %>">
            </div>
            <div class="mb-3">
                <label class="form label" for="description"></label>
                <textarea class="form-control" type="text" id="description" name="noritur[description]"><%=noritur.description%></textarea>
            </div>
            <div class="mb-3">
                <label class="form label" for="image">이미지 Url</label>
                <input class="form-control" type="text" id="image" name="noritur[image]" value="<%=noritur.image %>">
            </div>
            <div class="mb-3">
                <button class="btn btn-info">작성</button>
            </div>
        </form>
        <a href="/noritur/<%= noritur._id %>">글로 돌아가기</a>
        <a href="/noritur">노리터로 돌아가기</a>
    </div>
</div>
