<% layout('layouts/boilerplate')%>
<h1><%= noritur.title %></h1>
<img src="<%=noritur.image%>" alt="">
<p><%= noritur.description %><p>
<p>
    <a href="/noritur/<%=noritur._id%>/edit">게시물 편집</a>
</p>
<p>
    <form action="/noritur/<%=noritur._id%>?_method=DELETE" method="POST">
        <button>게시물 삭제</button>
    </form>
</p>
<footer>
    <a href="/noritur">노리터로 돌아가기</a>
</footer>
